body{
	background-color: lightblue;
}

h2{
	color: blue;
	text-align: left;
}

h1.grey{
	color: grey;
	text-align: center;
}

#nicola{
	margin-left: 0.5cm;
	height: 400px;
	width: 293px;
}

#matteo{
	margin-left: 0.5cm;
	height: 400px;
	width: 400px;
}

button{
	float: right;
}